.pomodoro-container {
    padding-top: 100px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#timer {
    margin-top: 90px;
    font-size: 4rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.tempo-opcoes button:hover {
    background: rgba(255, 255, 255, 0.3);
}

.barra-container {
    width: 300px;
    height: 12px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 0 auto 1.5rem;
}

#barra-progresso {
    height: 100%;
    width: 0%;
    background: #168386;
    border-radius: 6px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    transition: width 1s linear;
}

.controles {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.controles button {
    background: #8b96bb;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 12px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

.controles button:hover {
    background: #201d29;
}

#criar {
    margin: 1rem auto;
    display: block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background: #578ec2;
    border: none;
    border-radius: 12px;
    color: #fff;
}

.bloco {
    position: absolute;
    width: 300px;
    height: 200px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0.5rem;
    overflow: hidden;
    cursor: move;
}

.bloco textarea {
    width: 100%;
    height: calc(100% - 70px);
    border: none;
    resize: none;
    font-size: 0.95rem;
    font-family: 'Consolas', monospace;
    outline: none;
    background: transparent;
    overflow: hidden;
}

.bloco input.titulo {
    width: 100%;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    outline: none;
    background: transparent;
}

.fechar {
    position: absolute;
    top: 4px;
    right: 6px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #999;
}

.fechar:hover {
    color: #333;
}

.bloco select {
    position: absolute;
    bottom: 6px;
    left: 6px;
    font-size: 0.8rem;
}