* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: --font-primary;
    line-height: 1.6;
    overflow-x: hidden;
    background-color: white;
    height: 100vh;
    position: relative;
    color: #222;
    background: url('/assets/images/backgrounds/minimalist\ full-page.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header div:nth-child(2) {
    font-size: 22px;
    text-align: center;
}

.menu_navegacao {
    list-style: none;
    display: flex;
    gap: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    padding: 20px 0;
}

.mwg_effect000 {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
}

.button {
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 24px;
    height: 42px;
    gap: 5px;
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    background-color: #232323;
}

.button img {
    width: 20px;
    height: auto;
    display: block;
}

.menu_navegacao li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 24px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.menu_navegacao li a:hover {
    background-color: #319795;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.medias {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw;
    padding-top: 80px;
}

.media img {
    width: 11vw;
    height: 11vw;
    object-fit: contain;
    border-radius: 4%;
    display: block;
    pointer-events: none;
    will-change: transform;
}

@media (max-width: 768px) {
    .header {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }

    .header div:nth-child(2) {
        display: none;
    }

    .medias {
        grid-template-columns: repeat(3, 1fr);
        gap: 2vw;
    }

    .media img {
        width: 18vw;
        height: 18vw;
    }
}